<div class="panel-container">
    <ul class="panel-list">
        <li class="panel-list-item">
            <a asp-controller="AdminOrders" asp-action="Index">Orders</a>
        </li>
        <li class="panel-list-item">
            <a asp-controller="AdminUsers" asp-action="Index">Users</a>
        </li>
        <li class="panel-list-item">
            <a asp-controller="AdminRoles" asp-action="Index">Roles</a>
        </li>
        <li class="panel-list-item">
            <a asp-controller="AdminProducts" asp-action="Index">Products</a>
        </li>
    </ul>
</div>