<div class="panel-container">
    <ul class="panel-list">
        <li class="panel-list-item">
            <a asp-controller="Admin" asp-action="Orders">Orders</a>
        </li>
        <li class="panel-list-item">
            <a asp-controller="Admin" asp-action="Users">Users</a>
        </li>
        <li class="panel-list-item">
            <a asp-controller="Admin" asp-action="Roles">Roles</a>
        </li>
        <li class="panel-list-item">
            <a asp-controller="Admin" asp-action="Products">Products</a>
        </li>
    </ul>
</div>