/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*My Styles
---------------------------------------------*/

.main-container {
    padding-bottom: 50px;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cart-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.nav-cart-icon {
    width: 100%;
    height: auto;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.product-details {
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 50px;
    align-items: center;
    padding: 0 50px;
}

.product-details__img {
    border-radius: 20px;
    width: 600px;
    height: 500px;
}

.product-details__info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.product-details__info-description {
    text-align: left;
    font-size: 25px;
    margin-top: auto;
}

.product-details__info-btns {
    border-top: 2px solid black;
    padding-top: 30px;
    display: flex;
    margin-top: auto;
    gap: 30px;
    align-items: center;
}

.product-details__info-price {
    margin: auto 0;
    text-align: left;
    font-size: 20px;
}

.product-details__info-btn-back {
    margin-left: auto;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.product-card {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 30px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}

.product-card__img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.product-card__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-card__info-title {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-weight: bold;
}

.product-card__info-description {
}

.product-card__info-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
}

.product-details__info-btn-compare {
    background: dodgerblue;
    color: white;
    border: 2px solid black;
    font-weight: bold;
}

.product-details__info-btn-compare:hover {
    background: deepskyblue;
    color: white;
    border: 2px solid black;
}


.product-card__info-btn-more,
.product-card__info-btn-back,
.product-card__info-btn-cart,
.cart-item__info-btn-delete,
.product-card__info-btn-cart,
.product-details__info-btn-back,
.product-details__info-btn-cart,
.product-details__info-btn-unavailable,
.product-details__info-btn-compare {
    width: 150px;
}

.product-card__info-btn-more,
.product-card__info-btn-back,
.product-details__info-btn-back {
    background: none;
    color: black;
    border: 2px solid black;
    font-weight: bold;
}

.product-card__info-btn-back:hover,
.product-card__info-btn-more:hover,
.product-details__info-btn-back:hover {
    background: black;
    color: white;
    border: 2px solid black;
}

.product-card__info-btn-cart,
.product-details__info-btn-cart,
.product-details__info-btn-unavailable,
.product-card__info-btn-cart-unavailable {
    background: black;
    color: white;
    border: 2px solid black;
    font-weight: bold;
}

.product-card__info-btn-cart:hover,
.product-details__info-btn-cart:hover {
   background: limegreen;
   color: white;
   border: 2px solid black;
}

.product-card__info-btn-cart-unavailable:hover,
.product-details__info-btn-unavailable:hover {
    background: red;
    border: 2px solid black;
    cursor: not-allowed;
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    gap: 20px;
}

.cart-item {
    display: flex;
    border: 5px solid black;
    border-radius: 20px;
    gap: 20px;
}

.cart-item__img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    border-right: 5px solid black;
}

.cart-item__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 10px 10px 0;
    gap: 20px;
    width: 100%;
}

.cart-item__info-title a {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cart-item__info-description {
    text-align: left;
}

.cart-item__info-details {
    display: flex;
    width: 100%;
    margin-top: auto;
}

.cart-item__info-details-price {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.cart-item__info-details-quantity {
    font-weight: bold;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid black;
    border-radius: 50%;
    padding: 7px;
}

.cart-item__info-details-btn-plus_one,
.cart-item__info-details-btn-minus_one {
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    padding: 1px;
    margin-left: auto;
}

.cart-item__info-details-btn-minus_one {
    margin-left: 20px;
    font-size: 20px;
    padding: 2px;
}

.cart-item__info-details-btn-delete {
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    margin-left: 20px;
}

.cart-item__info-details-btn-plus_one:hover {
    background: limegreen;
    transform: scale(1.1);
}

.cart-item__info-details-btn-delete:hover,
.cart-item__info-details-btn-minus_one:hover {
    background: red;
    transform: scale(1.1);
}

.cart-item__info-details-btn-delete-img {
    width: 100%;
    height: auto;
}

.cart__bottom {
    display: flex;
    align-items: center;
}

.cart-item__btn-back{
    width: 200px;
    height: 40px;
    background: none;
    color: black;
    border: 2px solid black;
}

.cart-item__btn-checkout {
    width: 200px;
    height: 40px;
    background: none;
    color: black;
    border: 2px solid black;
    margin-left: auto;
    font-weight: bold;
}

.cart-item__btn-back:hover {
    background: black;
    color: white;
    border: 2px solid black;
}

.cart-item__btn-checkout:hover {
    background: limegreen;
    color: white;
    border: 2px solid black;
}

.cart-item__total {
    margin: auto 0 auto auto;
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.order-form-container {
    margin: 30px 300px 0 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.order-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    justify-content: space-between;
}

.order-form-title {
    text-align: center;
    margin-bottom: 30px;
    grid-column: span 2;
}

.order-form-group {
    margin-bottom: 20px;
}

.order-form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.order-form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.order-form-textarea {
    height: 100px;
    grid-column: span 2;
    resize: none;
}

.comment {
    grid-column: span 2;
}

.order-form-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 2;
}

.order-form-submit:hover {
    background-color: #0056b3;
}

.order-product-cards-swipe-buttons {
    position: relative;
}

.order-product-cards-container {
    border: 5px solid black;
    border-radius: 15px;
    margin: 30px 300px 0 300px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.order-product-cards {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
    padding: 20px;
}

.order-product-card {
    flex: 0 0 auto;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid black;
    box-shadow: 0 10px 40px rgba(0,0,0,0.60), 0 27px 26px rgba(0,0,0,0.14);
}

.order-product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.order-product-card-content {
    padding: 10px;
}

.order-product-card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.order-product-card-price {
    margin: 10px 0 0 0;
    font-size: 17px;
    color: black;
}

.order-product-card-price span {
    font-size: 15px;
    color: black;
    border-bottom: 2px solid black;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 1;
}

.carousel-button-left {
    position: absolute;
    left: 200px;
}

.carousel-button-right {
    right: 200px;
    position: absolute;
}

.hide {
    display: none;
}

.compare-container {
    padding: 15px 50px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.compare-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

.compare-left__img {
    border-radius: 20px;
    width: 550px; 
}

.compare-left__title {
    font-weight: bold;
}

.compare-left__description {
    font-size: 18px;
    text-align: center;
}

.compare-left__price {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid black;
}

.compare-right {
}

.comparable-product {
    padding: 40px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-bottom-left-radius: 30px;
    display: flex;
    gap: 20px;
}

.comparable-product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comparable-product__img {
    width: 300px;
    border-radius: 20px;
}

.comparable-product__info-description {
    text-align: center
}

.comparison-result__none {
    font-size: 18px;
    margin: 16px 0;
    font-weight: bold;
}

.comparison-result__price {
    font-size: 18px;
    margin: 16px 0;
    font-weight: bold;
}

.comparison-result__price span.cheaper{
    font-size: 18px;
    margin: 16px 0;
    color: green;
}

.comparison-result__price span.more-expensive{
    font-size: 18px;
    margin: 16px 0;
    color: red;
}

.comparison-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
}

.comparison-list__card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px solid black;
    border-radius: 20px;
    padding-top: 10px;
}

.comparison-list__card:hover {
    opacity: 0.7;
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

.comparison-list__card-title {
    text-align: center;
}

.comparison-list__card-img {
    width: 150px;
    border-radius: 20px;
}