@model Cart;

@{
    ViewData["Title"] = " - New order";
}


<div class="text-center">
   
    <h1 class="display-4">New order</h1>


    <div class="order-form-container">
        <h1 class="order-form-title">Please fill out the fields below</h1>
        <form action="/Order/Submit" method="post" class="order-form">
            <div class="order-form-group">
                <label for="customerName" class="order-form-label">Your Name</label>
                <input type="text" id="customerName" name="customerName" class="order-form-input" required>
            </div>
            <div class="order-form-group">
                <label for="customerAddress" class="order-form-label">Your Address</label>
                <input type="text" id="customerAddress" name="customerAddress" class="order-form-input" required>
            </div>
            <div class="order-form-group">
                <label for="customerPhone" class="order-form-label">Your Phone</label>
                <input type="tel" id="customerPhone" name="customerPhone" class="order-form-input" required>
            </div>
            <div class="order-form-group">
                <label for="customerEmail" class="order-form-label">Your E-mail</label>
                <input type="email" id="customerEmail" name="customerEmail" class="order-form-input" required>
            </div>
            <div class="order-form-group comment">
                <label for="customerComment" class="order-form-label">Comment</label>
                <textarea id="customerComment" name="customerComment" class="order-form-input order-form-textarea"></textarea>
            </div>
            <button type="submit" class="order-form-submit">Confirm</button>
        </form>
    </div>

    <div class="order-product-cards-swipe-buttons">
        <div class="carousel-button carousel-button-left">&#10094;</div>
        <div class="carousel-button carousel-button-right">&#10095;</div>
        <div class="order-product-cards-container">
            <div class="order-product-cards">
                @foreach(var product in Model.ProductsInCart.Distinct().ToList())
                {
                    <div class="order-product-card">
                        <img src=@product.ImagePath alt=@product.ImagePath>
                        <div class="order-product-card-content">
                            <h3 class="order-product-card-title">@product.Name</h3>
                            <p class="order-product-card-price">@Model.ProductsInCart.Where(prod => prod.Id == product.Id).Select(prod => prod.Cost).Sum() $ - <span>x@($"{Model.ProductsInCart.Where(prod => prod.Id == product.Id).Count()}")</span></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script>
    const carouselButtonLeft = document.querySelector('.carousel-button-left');
    const carouselButtonRight = document.querySelector('.carousel-button-right');
    const productCards = document.querySelector('.order-product-cards');
    const productCardsArray = document.querySelectorAll('.order-product-card');
    const container = document.querySelector('.order-product-cards-container');

    const cardWidth = 170;
    const startRightPos = productCardsArray[productCardsArray.length - 1].getBoundingClientRect().right;
    const difference = startRightPos - productCards.offsetWidth;

    let translateValue = 0;

    function updateCarouselButtonsVisibility() {
        if (translateValue === 0) {
            carouselButtonLeft.classList.add('hide');
        } else {
            carouselButtonLeft.classList.remove('hide');
        }

        if (translateValue + difference < cardWidth) {
            carouselButtonRight.classList.add('hide');
        } else {
            carouselButtonRight.classList.remove('hide');
        }
    }

    carouselButtonRight.addEventListener('click', () => {
        if (productCards.scrollWidth - translateValue > container.offsetWidth) {
            translateValue -= cardWidth;
            productCards.style.transform = `translateX(${translateValue}px)`;
            updateCarouselButtonsVisibility();
        }
    });

    carouselButtonLeft.addEventListener('click', () => {
        if (translateValue < 0) {
            translateValue += cardWidth;
            productCards.style.transform = `translateX(${translateValue}px)`;
            updateCarouselButtonsVisibility();
        }
    });

    if ((cardWidth + 20) * productCardsArray.length < container.offsetWidth) {
        productCards.style.justifyContent = 'center';
    }
    else {
        productCards.style.justifyContent = 'start';
    }

    updateCarouselButtonsVisibility();

    window.addEventListener('resize', updateCarouselButtonsVisibility);
</script>