@model Order;

@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    <h1>Order №-@Model.Id</h1>

    <h2>You are all set! @Model.Price</h2>

    <p>Now its only a matter of time for you to get your order</p>
    <p>Thank you for choosing us!</p>
</div>